/*------------------------------------*\
    #search-alpha
\*------------------------------------*/

/*<-- MOBILE FIRST -->*/
.search-alpha {
	float: left;
	width: 100%;
	margin-top: 30px;
	.icon-search {
		@include retina-sprite($search-group);
	}
	.inner-container{
		max-width: 300px;
		margin: 0 auto;
		position: relative;
		.dropdown{
			position: absolute;
			top: 31px;
			left: 0px;
			z-index: 1;
			background: #FFF;
			width: 298px;
			border-right: 1px solid #bdbdbd;
			border-left: 1px solid #bdbdbd;
			li{
				list-style: none;
				-webkit-transition: all .5s;
				transition: all .5s;
				&:hover{
					background: #bdbdbd;
				}
				a{
					color: #000000;
					font-size: 12px;
					display: block;
					padding: 15px 10px;
				}
			}
		}
	}
	input[type="text"]{
		float: left;
		width: 90%;
		height: 30px;
		padding: 0px 5%;
		margin: 0px;
		border: none;
		border-bottom: 1px solid #bdbdbd;
	}
	.search{
		position: absolute;
		right: 5px;
		top: 5px;
	}
}

/*<-- DESKTOP -->*/
@media (min-width: $screen-sm-min) {
	.search-alpha{
		.dropdown{

		}

	}
}

