/*------------------------------------*\
    #logo-alpha
\*------------------------------------*/

/*<-- MOBILE FIRST -->*/
.logo-alpha {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	margin-top: 20px;

	img{
		width: 140px;
	}
}

/*<-- DESKTOP -->*/
@media (min-width: $screen-sm-min) {
	.logo-alpha{

	}
}

